.certificate-page {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding:20px;
}

.add-button {
  display: flex;
  cursor: pointer;
  align-items: center;
}

.certificate-container{
  width:50%;
}